In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d cryptexcode/banfakenews

Downloading banfakenews.zip to /content
 94% 58.0M/61.5M [00:02<00:00, 34.0MB/s]
100% 61.5M/61.5M [00:02<00:00, 32.0MB/s]

In [ ]:
# extracting the compessed Dataset
from zipfile import ZipFile
dataset = '/content/banfakenews.zip'

with ZipFile(dataset,'r') as zip:
  zip.extractall()
  print('The dataset is extracted')

The dataset is extracted

In [ ]:
df = pd.read_csv('/content/Authentic-48K.csv', encoding= 'UTF-8')
df.head()

,articleID,domain,date,category,headline,content,label
0,1,jagonews24.com,2018-09-19 17:48:18,Education,"হট্টগোল করায় বাকৃবিতে দুইজন বরখাস্ত, ৬ জনকে শোকজ",গত ১৭ সেপ্টেম্বর বাংলাদেশ কৃষি বিশ্ববিদ্যালয়ে ...,1
1,2,jagonews24.com,2018-09-19 17:48:19,National,মালয়েশিয়ায় কর্মী পাঠানোর ব্যবস্থা নেয়ার সুপারিশ,বাংলাদেশের বৃহৎ শ্রমবাজার মালয়েশিয়ায় আবার শ্রম...,1
2,3,jagonews24.com,2018-09-19 17:48:20,National,প্রেমের প্রস্তাবে রাজি না হওয়ায় স্কুলছাত্রীকে ...,নরসিংদীর মনোহরদীতে প্রেমের প্রস্তাবে রাজি না হ...,1
3,4,jagonews24.com,2018-09-19 17:48:21,Crime,মেডিয়েশনই মামলাজট নিরসনের পথ : বিচারপতি আহমেদ ...,সুপ্রিম কোর্টের হাইকোর্ট বিভাগের বিচারপতি আহমে...,1
4,5,jagonews24.com,2018-09-19 17:48:21,National,টকশোতে বক্তব্য দিতে গিয়ে জাপা নেতার মৃত্যু,মাদারীপুর সদরের উপজেলার লেকেরপাড়ে একটি বেসরকার...,1

In [ ]:
df['category'].value_counts()

National         18708
International     6990
Sports            6526
Editorial         3504
Politics          2941
Entertainment     2636
Miscellaneous     2218
Finance           1224
Education         1115
Crime             1072
Lifestyle          901
Technology         843
Name: category, dtype: int64

In [ ]:
df.shape

(48678, 7)

In [ ]:
del df['articleID']
del df['date']
del df['label']
del df['domain']
del df['content']
df.head()

    category                                           headline
0  Education   হট্টগোল করায় বাকৃবিতে দুইজন বরখাস্ত, ৬ জনকে শোকজ
1   National    মালয়েশিয়ায় কর্মী পাঠানোর ব্যবস্থা নেয়ার সুপারিশ
2   National  প্রেমের প্রস্তাবে রাজি না হওয়ায় স্কুলছাত্রীকে ...
3      Crime  মেডিয়েশনই মামলাজট নিরসনের পথ : বিচারপতি আহমেদ ...
4   National         টকশোতে বক্তব্য দিতে গিয়ে জাপা নেতার মৃত্যু

In [ ]:
df['headline'][4000]

'দ্রুতই টুর্নামেন্ট জিতব আমরা: নাফিস  '

In [ ]:
df.duplicated().sum()

2322

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.shape

(46356, 2)

In [ ]:
df.duplicated().sum()

0

##Text Preprocessing

####Remove Tags

In [ ]:
import re
def remove_tags(raw_text):
  cleaned_text = re.sub(re.compile('<.*?>'), '', raw_text)
  return cleaned_text

df['headline'] = df['headline'].apply(remove_tags)
df.head()

    category                                           headline
0  Education   হট্টগোল করায় বাকৃবিতে দুইজন বরখাস্ত, ৬ জনকে শোকজ
1   National    মালয়েশিয়ায় কর্মী পাঠানোর ব্যবস্থা নেয়ার সুপারিশ
2   National  প্রেমের প্রস্তাবে রাজি না হওয়ায় স্কুলছাত্রীকে ...
3      Crime  মেডিয়েশনই মামলাজট নিরসনের পথ : বিচারপতি আহমেদ ...
4   National         টকশোতে বক্তব্য দিতে গিয়ে জাপা নেতার মৃত্যু

####Remove Stopwords

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

sw_list = stopwords.words('bengali')
df['headline'] = df['headline'].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
df.head()

    category                                           headline
0  Education        হট্টগোল করায় বাকৃবিতে দুইজন বরখাস্ত, ৬ শোকজ
1   National    মালয়েশিয়ায় কর্মী পাঠানোর ব্যবস্থা নেয়ার সুপারিশ
2   National  প্রেমের প্রস্তাবে রাজি হওয়ায় স্কুলছাত্রীকে কুপ...
3      Crime  মেডিয়েশনই মামলাজট নিরসনের পথ : বিচারপতি আহমেদ ...
4   National                           টকশোতে জাপা নেতার মৃত্যু

####Remove Punctuation

In [ ]:
import string,time
string.punctuation

exclude = string.punctuation

def remove_punc(text):
  return text.translate(str.maketrans('','', exclude))

df['headline'] = df['headline'].apply(remove_punc)
df.head()

    category                                           headline
0  Education         হট্টগোল করায় বাকৃবিতে দুইজন বরখাস্ত ৬ শোকজ
1   National    মালয়েশিয়ায় কর্মী পাঠানোর ব্যবস্থা নেয়ার সুপারিশ
2   National  প্রেমের প্রস্তাবে রাজি হওয়ায় স্কুলছাত্রীকে কুপ...
3      Crime  মেডিয়েশনই মামলাজট নিরসনের পথ  বিচারপতি আহমেদ স...
4   National                           টকশোতে জাপা নেতার মৃত্যু

In [ ]:
x = df['headline']
y = df['category']

In [ ]:
y

0            Education
1             National
2             National
3                Crime
4             National
             ...
48673           Sports
48674    International
48675         Politics
48676         National
48677         National
Name: category, Length: 46356, dtype: object

###Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

y = encoder.fit_transform(y)

In [ ]:
y

array([2, 8, 8, ..., 9, 8, 8])

In [ ]:
y[4000]

8

####Data Splits

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [ ]:
X_train.shape

(37084,)

###Applying BOW

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X_train_bow = cv.fit_transform(X_train)
X_test_bow = cv.transform(X_test)

In [ ]:
X_train_bow.shape

(37084, 5310)

##ML Algorithm

###Naive Bayes

In [ ]:
from sklearn.naive_bayes import MultinomialNB
MNB = MultinomialNB()
MNB.fit(X_train_bow,y_train)
y_pred = MNB.predict(X_test_bow)

from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.522648835202761

###DT

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier()
DTC.fit(X_train_bow,y_train)
y_pred = DTC.predict(X_test_bow)
accuracy_score(y_test,y_pred)

0.4407894736842105

###RF

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier()
RFC.fit(X_train_bow,y_train)
y_pred = RFC.predict(X_test_bow)
accuracy_score(y_test,y_pred)

0.521786022433132

##Applying TfIdf

###Naive Bayes

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
MNB = MultinomialNB()
MNB.fit(X_train_tfidf,y_train)
y_pred = MNB.predict(X_test_tfidf)
accuracy_score(y_test,y_pred)

0.48587144089732526

###RF

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier()
RFC.fit(X_train_tfidf,y_train)
y_pred = RFC.predict(X_test_tfidf)
accuracy_score(y_test,y_pred)

0.5382873166522865

###DT

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier()
DTC.fit(X_train_tfidf,y_train)
y_pred = DTC.predict(X_test_tfidf)
accuracy_score(y_test,y_pred)

0.45211389128559104

In [ ]:
msg = ['হট্টগোল করায় বাকৃবিতে দুইজন বরখাস্ত, ৬ শোকজ']
msg_cv = cv.transform(msg)
MNB.predict(msg_cv)

array([8])

In [ ]:
df['category'].unique()

array(['Education', 'National', 'Crime', 'Entertainment', 'Finance',
       'International', 'Sports', 'Miscellaneous', 'Politics',
       'Lifestyle', 'Technology', 'Editorial'], dtype=object)